#header{
    text-align: center;
    background-color: wheat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px;
    font-size: 20px;
}
h1{
    color: blue;
    font-weight: bold;
}
blockquote{
    background-color: rgb(223, 203, 18);
}
.div1{
    text-align: center;
    margin-top: 20px;
}
.gambar{
    margin-top: 20px;
    text-align: center;
}
.gambar1{
    width: 300px;
}
.gambar2{
    width: 300px;
}
.b{
    color: blue;
    font-size: 80px;
}
